@import 'normalize.css';

$primary: #333;
$light: #aaa;
$accent: #ff402f;
$padding: 24px;

$small-type: 12px;
$normal-type: 16px;
$big-type: 24px;
$large-type: 36px;
$xlarge-type: 56px;

* {
    box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

  color: $primary;

  line-height: 1.5;
  font-size: $normal-type;
}

header {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;

  display: flex;

  align-items: center;

  padding: $padding;

  justify-content: space-between;
}

.logo {
  color: $accent;

  width: 67.5px;
  height: 36px;

  svg {
    fill: currentColor;    
  }
}

nav {
  ul {
    display: flex;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  li {
    margin-left: $padding * 1.5;
  }

  a {
    text-decoration: none;

    color: $primary;

    font-weight: normal;

    padding: 3px 0;

    &:hover,
    &:focus {
      outline: 0;

      border-bottom: 2px solid currentColor;
    }
  }

  .download {
    color: $accent;
    font-weight: bold;
  }
}

#fold {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  height: calc(100vh + 50px);
}

#about {
  padding: #{$padding * 3} 15%;
}

.about-content {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin: #{$padding * 3} 0;

  p {
    flex: 0 0 65%;

    font-size: $large-type;

    color: $accent;

    margin: 0;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    text-align: right;
  }

  .icon {
    flex: 0 0 140px;

    color: $accent;
  }
}

.title {
  display: flex;

  align-items: center;
  justify-content: center;

  flex: 1 1 auto;

  margin: 0;
  padding-top: 40px;

  span {
    display: none;

    text-transform: uppercase;

    color: $accent;
    font-size: $large-type;

    &:last-of-type {
      display: block;

      font-size: $xlarge-type;
    }
  }
}

.screens {
  width: 60%;

  overflow: hidden;

  border-radius: 6px;
  line-height: 0;

  box-shadow: 0 -4px 35px rgba(0,0,0,0.15);

  img {
    width: 100%;
  }
}

.title,
.screens {
  position: relative;

  z-index: 10;
}

footer {
  display: flex;

  justify-content: space-between;

  padding: #{ $padding } 10% #{ $padding * 2 };

  border-top: 1px solid $light;
  color: $light;

  h2,
  p {
    margin: 0;
    font-size: $small-type;
  }
}

.privacy {
  p {
    max-width: 400px;
  }
}

.attribution {
  flex: 0 0 30%;

  text-align: right;

  a {
    color: $accent;
    text-decoration: none;
  }
}